@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/inter";

@plugin "daisyui";

@theme {
  --animate-marquee: marquee 20s linear infinite;
  --color-background: #ffffff;
}

:root {
  --color-background: #ffffff;
}



body {
  background: var(--color-background);
  color: var(--color-text);
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}



body {
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
}



